body {
  position: relative;
  font-family: 'Candal', sans-serif;
}
header {
  border-bottom: 4px solid black;
  background-color: #FAEBD7;
}
footer {
  border-top: 4px solid black;
  background-color: #FAEBD7;
}
header img, footer img {
  width: 45px;
  height: 35px;
}
header .container {
  background-color: #FAEBD7;
}
footer .container {
  background-color: #FAEBD7;
}
header h1 {
  font-family: 'Candal', sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-size: 50px;
  color: black;
}
footer h4 {
  font-family: 'Candal', sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-size: 24px;
  color: black;
  background-color: #FAEBD7;
}
main {
  background-image: url("../images/redwhitecheckerbox-2.jpg");
  background-repeat: repeat;
}
main .container {
  background-image: url("../images/food-9.jpg");
  border-left:4px solid black;
  border-right:4px solid black;
}
main .card-header {
  font-size: 22px;
  background-color: #708090;
}
.UnitedStates {
  width: 70%;
  position: absolute;
}
main .card {
  margin: 40px;
  border: 2.5px solid black;
}
main .card-body {
  background-color: #F5F5F5;
}
div .card-body img {
  max-width: 75%;
}
