body {
  position: relative;
  font-family: 'Candal', sans-serif;
}
header {
  border-bottom: 4px solid black;
  background-image: url("../images/redwhitecheckerbox.png");
}
footer {
  border-top: 4px solid black;
  background-image: url("../images/redwhitecheckerbox.png");
}
header img, footer img {
  width: 55px;
  height: 55px;
}
header h1 {
  font-family: 'Candal', sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-size: 50px;
  color: black;
  background-color: #F5F5F5;
}
footer h4 {
  font-family: 'Candal', sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-size: 24px;
  color: black;
  background-color: #F5F5F5;
}
main .container {
  opacity: 0.90;
}
main .card-header {
  font-size: 22px;
  background-color: #CD853F;
}
.UnitedStates {
  width: 70%;
  position: absolute;
}
main .card {
  margin: 20px;
  border: 1.5px solid black;
}
main .card-body {
  background-color: #FFE4C4;
}
